/* Write your code here. */
.emoji-card {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 10px;
  box-shadow: 0.5px 0px 10px 0px white;
  cursor: pointer;
}
.emoji-card > button {
  width: 100%;
  background-color: transparent;
  border-style: none;
}
/* for extra small devices */

@media screen and (max-width: 576px) {
  .emoji-card {
    width: 100px;
    height: 100px;
  }
  .emoji-card > button {
    background-color: transparent;
    border-style: none;
  }
  .emoji-card > button img {
    width: 80%;
  }
}
